<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826505912571-3b3l4bu8uq67i62pml9ckbqs21f2oami.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826505912571-3b3l4bu8uq67i62pml9ckbqs21f2oami</string>
	<key>API_KEY</key>
	<string>AIzaSyAcwDh3LmXLS8bEqlfBECyQ-auH5odpv4U</string>
	<key>GCM_SENDER_ID</key>
	<string>826505912571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chitChat</string>
	<key>PROJECT_ID</key>
	<string>chit-chat-809f5</string>
	<key>STORAGE_BUCKET</key>
	<string>chit-chat-809f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826505912571:ios:c040d6b5158d0fe692505e</string>
</dict>
</plist>